certifi==2020.12.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
numpy==1.20.2
pandas==1.2.4
psycopg2-binary==2.9.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
six==1.15.0
SQLAlchemy==1.4.22
tldextract==3.1.0
tqdm==4.60.0
unshortenit==0.4.0
urlexpander==0.0.36
urllib3==1.26.4
Werkzeug==2.0.1
youtube-transcript-api==0.4.1
